<template>
    <div class="modal" :class="{'is-active': DeletedTasks.length}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Deleted Tasks</p>
                <button class="delete" aria-label="close" @click.prevent="$emit('Close')"></button>
            </header>
            <section class="modal-card-body">
                <div class="content">
                    <table class="table is-fullwidth">
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Description</th>
                            <th scope="col">Due Date</th>
                            <th>Restore</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-if="DeletedTasks.length" v-for="(task, index) in DeletedTasks" :key="task.id">
                            <td>{{ task.Title }}</td>
                            <td>{{ task.category.Title }}</td>
                            <td>{{ task.Description }}</td>
                            <td>{{ task.Due_date }}</td>
                            <td>
                                <button type="button" class="button is-info" @click.prevent="RestoreTask(task.id)">
                                    Restore
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button" @click.prevent="DeletedTasks = []">Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close" @click.prevent="$emit('Close')"></button>
    </div>
</template>

<script>
    export default {
        name: 'VDeletedTasks',
        props: {
            DeletedTasks: {type: Array, required: false},
            endpoint: {type: String, required: true}
        },
        methods: {
            RestoreTask(id) {
                let self = this;
                axios.post(self.endpoint, {'id': id}).then(() => {
                    self.$emit('Reset')
                })
                    .catch((error) => {
                        console.log(error);
                    });
            },
        }
    }
</script>
