<template>
    <div>
        <div class="columns">
            <div class="column">
                <button type="button" class="button is-primary" @click.prevent="AddNewCategory()">Add New Category!
                </button>
            </div>
            <div class="column">
                <button type="button" class="button is-primary" @click.prevent="ShowDeleted()">Show Deleted Tasks
                </button>
            </div>
            <div class="column">
                <button type="button" class="button is-primary is-pulled-right" @click.prevent="ListView = ! ListView">
                    Toggle -<span v-if="ListView"> Category View</span><span v-else> List View</span></button>
            </div>
        </div>
        <div class="columns" v-if="ListView">
            <div class="column is-12">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">All Tasks</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            <table class="table is-fullwidth">
                                <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Due Date</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tfoot>
                                <tr>
                                    <th>
                                        <div class="field">
                                            <label class="label" for="NewTaskInput">New Task:</label>
                                            <div class="control">
                                                <input class="input" id="NewTaskInput" type="text"
                                                       placeholder="Add a new task!" aria-label="Add a New Task"
                                                       required v-model="NewTask.Title">
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="field">
                                            <label class="label" for="CategorySelect">Select Category:</label>
                                            <div class="control">
                                                <div class="select">
                                                    <select id="CategorySelect" v-model="NewTask.Category_id" required>
                                                        <option></option>
                                                        <option v-for="category in categories" :value="category.id"
                                                                v-text="category.Title"></option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="field">
                                            <label class="label" for="NewTaskDescription">Task Description:</label>
                                            <div class="control">
                                                <textarea class="textarea" id="NewTaskDescription"
                                                          placeholder="Add a new task!"
                                                          aria-label="Add a Task Description"
                                                          v-model="NewTask.Description"></textarea>
                                            </div>
                                        </div>
                                    </th>
                                    <th>
                                        <div class="field">
                                            <label class="label" for="NewTaskDueDate">Task Due Date:</label>
                                            <div class="control">
                                                <input class="input" type="datetime-local" id="NewTaskDueDate"
                                                       aria-label="Add a Task Due Date" v-model="NewTask.Due_date">
                                            </div>
                                        </div>
                                    </th>
                                    <th colspan="2">
                                        <button type="button" class="button is-primary"
                                                @click.prevent="AddTask(NewTask)">Add New Task
                                        </button>
                                    </th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr v-if="tasks.length" v-for="(task, index) in tasks" :key="task.id">
                                    <td>{{ task.Title }}</td>
                                    <td>{{ task.category.Title }}</td>
                                    <td>{{ task.Description }}</td>
                                    <td>{{ task.Due_date }}</td>
                                    <td>
                                        <button type="button" class="button is-info" @click.prevent="Editing = task">
                                            Edit
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="button is-danger"
                                                @click.prevent="DeleteTask(task.id)">X
                                        </button>
                                    </td>
                                </tr>
                                <p v-if="! tasks.length">Add a task to your list!</p>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns" v-else>
            <div class="column" v-for="Category in CategoryViewTasks" v-show="Category.Tasks.length">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">{{ Category.Title }} Tasks:</p>
                    </header>
                    <div class="card-content">
                        <table class="table is-fullwidth">
                            <thead>
                            <tr>
                                <th>Task</th>
                                <th>View</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr v-for="Task in Category.Tasks">
                                <td>{{ Task.Title}}</td>
                                <td>
                                    <button class="button is-small is-primary" @click.prevent="Editing = Task">View
                                    </button>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals -->


        <VViewTask
            :Task="Editing"
            :endpoint="tasks_edit"
            :Categories="categories"
            v-on:Close="Editing = null"
        >
        </VViewTask>

        <VDeletedTasks
            :deleted-tasks="DeletedTasks"
            :endpoint="tasks_restore"
            v-on:Reset="ShowDeleted(); GetTasks()"
            v-on:Close="GetTasks(); DeletedTasks = null"
        >

        </VDeletedTasks>


    </div>
</template>

<script>
    export default {
        name: 'VTaskList',
        props: {
            tasks_get: {type: String, required: true},
            tasks_create: {type: String, required: true},
            tasks_edit: {type: String, required: true},
            tasks_delete: {type: String, required: true},
            tasks_get_deleted: {type: String, required: true},
            tasks_restore: {type: String, required: true},

            categories_get: {type: String, required: true},
            categories_create: {type: String, required: true},
            categories_edit: {type: String, required: true},
            categories_delete: {type: String, required: true}
        },
        data() {
            return {
                Editing: null,
                ListView: true,
                tasks: [],
                categories: [],
                NewTask: {
                    Title: null,
                    Description: null,
                    Due_date: null,
                    Category_id: null,
                    Complete: false
                },
                DeletedTasks: []
            }
        },
        mounted() {
            this.GetTasks();
            this.GetCategories();
        },
        methods: {
            GetTasks() {
                let self = this;
                axios.get(self.tasks_get).then((res) => {
                    self.tasks = res.data;
                    self.tasks.forEach((task, index) => {
                        self.tasks[index].Edit = true;
                    })
                });
            },
            GetCategories() {
                let self = this;
                axios.get(self.categories_get).then((res) => {
                    self.categories = res.data;
                });
            },
            async AddNewCategory() {
                let self = this;
                const {value: NewCategory} = await this.$swal.fire({
                    title: 'Enter your new Category',
                    input: 'text',
                    inputValue: '',
                    showCancelButton: true,
                    inputValidator: (value) => {
                        if (!value) {
                            return 'You need to write something!'
                        }
                    }
                })

                if (NewCategory) {
                    axios.post(self.categories_create, {'Title': NewCategory}).then(() => {
                        self.GetCategories()
                    })
                        .catch((error) => {
                            console.log(error);
                        });
                }
            },
            AddTask(Task) {
                let self = this;
                if (!Task.Title || !Task.Category_id) {
                    this.$swal({
                        icon: 'error',
                        title: 'Oops...',
                        text: "Something went wrong! - Make sure you've added a Title and selected a category!"
                    });
                    return;
                }
                axios.post(self.tasks_create, Task).then(() => {
                    self.GetTasks();
                    self.ResetNewTask();
                }).catch((error) => {
                    console.log(error);
                });
            },
            DeleteTask(id) {
                let self = this;
                axios.post(self.tasks_delete, {'id': id}).then(() => {
                    self.GetTasks();
                })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            ShowDeleted() {
                let self = this;
                axios.get(self.tasks_get_deleted).then((res) => {
                    self.DeletedTasks = res.data;
                })
                    .catch((error) => {
                        console.log(error);
                    });
            },
            ResetNewTask() {
                Object.keys(this.NewTask).forEach((Key) => {
                    if (Key === 'Complete') {
                        return;
                    }
                    this.NewTask[Key] = '';
                })


            }
        },
        computed: {
            CategoryViewTasks() {
                let self = this;
                let CategorisedTasks = [];

                self.categories.forEach((Category) => {
                    let Tasks = [];
                    self.tasks.forEach((task) => {
                        return task.Category_id === Category.id ? Tasks.push(task) : '';
                    });

                    CategorisedTasks.push(
                        {
                            'id': Category.id,
                            'Title': Category.Title,
                            'Tasks': Tasks
                        }
                    );
                });

                return CategorisedTasks;

            }
        }
    }
</script>
