<template>
    <div class="modal" :class="{'is-active': Task}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">View Task</p>
                <button class="delete" aria-label="close" @click.prevent="$emit('Close')"></button>
            </header>
            <section class="modal-card-body" v-if="Task">
                <div class="field">
                    <label class="label" for="EditTaskInput">New Task:</label>
                    <div class="control">
                        <input class="input" id="EditTaskInput" type="text" placeholder="Add a new task!"
                               aria-label="Add a New Task" required v-model="Task.Title">
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="EditCategory">Select Category:</label>
                    <div class="control">
                        <div class="select">
                            <select id="EditCategory" v-model="Task.Category_id" required>
                                <option></option>
                                <option v-for="category in Categories" :value="category.id"
                                        v-text="category.Title"></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="EditTaskDescription">Task Description:</label>
                    <div class="control">
                        <textarea class="textarea" id="EditTaskDescription" placeholder="Add a new task!"
                                  aria-label="Add a Task Description" v-model="Task.Description"></textarea>
                    </div>
                </div>

                <div class="field">
                    <label class="label" for="EditTaskDueDate">Task Due Date:</label>
                    <div class="control">
                        <input class="input" type="datetime-local" id="EditTaskDueDate" aria-label="Add a Task Due Date"
                               v-model="Task.Due_date">
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @click.prevent="UpdateTask()">Save changes</button>
                <button class="button" @click.prevent="$emit('Close')">Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close" @click.prevent="$emit('Close')"></button>
    </div>
</template>

<script>
    export default {
        name: 'VViewTask',
        props: {
            Task: {type: Object, required: false},
            Categories: {type: Array, required: true},
            endpoint: {type: String, required: true}
        },
        methods: {
            UpdateTask() {
                let self = this;
                axios.post(self.endpoint, self.Task).then(() => {
                    self.$emit('Close');
                }).catch((error) => {
                    console.log(error);
                });
            },
        }
    }
</script>
